@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,700;1,700&display=swap');

#designbgimg {
  background: url(/images/designbg.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 414px) {
  #designpara {
    font-size: 2.2rem !important;
    line-height: 50px !important;
  }
}

@media screen and (max-width: 367px) {
  #designpara {
    font-size: 1.9rem !important;
    line-height: 45px !important;

  }
}

@media screen and (max-width: 321px) {
  #designpara {
    font-size: 1.7rem !important;
    line-height: 40px !important;

  }
}

#designpara2 {
  color: #333333 !important;
}




#designbg {
  background-color: #191970;
}

#designh3 {
  color: #FFF;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.96px;
  /* 131% */
  text-transform: uppercase;
}

#designli {
  border: 1px solid #FFFF;
  /* padding:  3px, 10.2px, 4.5px, 11px !important; */
  border-radius: 13px !important;
  color: #FFF;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
  /* 125% */
  cursor: pointer;
}


@media screen and (max-width: 1400px) {
  #designbg {
    width: 40% !important;
  }
}

@media screen and (max-width: 1200px) {
  #designbg {
    width: 48% !important;
  }
}

@media screen and (max-width: 991px) {
  #designbg {
    width: 50% !important;
  }
}

@media screen and (max-width: 800px) {
  #designbg {
    width: 90% !important;
  }
}