@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,700;1,700&display=swap");

#dottedsliderbg {
  background-color: rgb(0, 10, 61);
}

#dottedsliderh4 {
  color: #FFCD24;
  font-family: Saira;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

#dottedslidertext {
  color: #FFF;
  font-family: Saira;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
}


#dottedsliderpara {
  color: #FFF;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}


#dottedsliderbtn {
  font-family: Saira;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  border-radius: 14px;
  text-align: center;
  color: #434343;
  background-color: #ffcd24;
  padding: 11px 20px 10.4px 20px !important;
}

#dottedsliderbtn1 {
  margin: 0px 0px 0px 10px;
  font-family: Saira;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  border-radius: 14px;
  padding: 11px 20px 10.4px 20px !important;
  text-align: center;
  color: #ffffff;
  background-color: #245bcf;
}

#dottedh3 {
  color: #FFF;
  font-family: Saira;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
}

#dottedpara {
  color: #FFF;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#cards {
  transition: 400ms;
}

#cards:hover {
  background-color: #FFCD24 !important;
}


@media screen and (max-width: 443px) {
  #dottedsliderh4 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 374px) {
  #dottedsliderh4 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 306px) {
  #dottedsliderh4 {
    font-size: 29px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1200px) {
  #cards {
    width: 14rem !important;
  }

}

@media screen and (max-width: 1023px) {
  #cards {
    width: 17rem !important;
  }

}

@media screen and (max-width: 992px) {
  #cards {
    margin: auto !important;
  }

}

@media screen and (max-width: 320px) {
  #cards {
    width: 14rem !important;

  }

}