@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,700;1,700&display=swap');

#footerbg{
    background-color: rgb(34, 88, 203);
}

#footerh4{
    font-family: Saira;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 25px;
}

#footerlinks{
    font-family: Saira;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}
#footerallright{
    font-family: Saira;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}
#footerlinks:hover{
     color: gray;
}

@media screen and (max-width: 380px) {
    #footerallright{
      
        font-size: 7px;
        line-height: 15px;
      
    }
}