@media screen and (max-width: 1190px) {
  #appHeadingContainer {
    width: 60% !important;
  }
}
@media screen and (max-width: 1001px) {
  #appHeadingContainer {
    width: 70% !important;
  }
}
@media screen and (max-width: 796px) {
  #appHeadingContainer {
    width: 80% !important;
  }
}
@media screen and (max-width: 576px) {
  #appHeadingContainer {
    width: 90% !important;
  }
}


.owl-nav .owl-prev,
.owl-nav .owl-next {
    display: none;
    font-size: 55px !important;
    color: #ddd !important;
    cursor: pointer !important;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background-color: #000 !important;
}

.owl-dots{
  color: white !important;
  background-color: brown !important;
  display: none;

}
.owl-dot span{
  color: yellow !important;
  background-color: black !important;
  display: none;
  cursor: pointer !important;
}