@media screen and (max-width: 1190px) {
  #appHeadingContainer {
    width: 60% !important;
  }
}
@media screen and (max-width: 1001px) {
  #appHeadingContainer {
    width: 70% !important;
  }
}
@media screen and (max-width: 796px) {
  #appHeadingContainer {
    width: 80% !important;
  }
}
@media screen and (max-width: 576px) {
  #appHeadingContainer {
    width: 90% !important;
  }
}
