@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,700;1,700&display=swap");

#processbg{
  background: url(/images/processbg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

#processh4 {
  font-family: Saira;
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

#processpara {
  color: #ffffff;
  font-family: Saira;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-weight: bold;
}

#cardWithBackground {
  background-image: url("/images/processimg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15rem;
  border-radius: "0px";
  background-color: #191970;
}

#cardWithBackground2 {
  background-image: url("/images/processimg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15rem;
  border-radius: "0px";
  background-color: #191970;
}
#cardWithBackground3 {
  background-image: url("/images/processimg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15rem;
  border-radius: "0px";
  background-color: #191970;
}
#cardWithBackground4 {
  background-image: url("/images/processimg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15rem;
  border-radius: "0px";
  background-color: #191970;
}
